@model Job

<form asp-action="Create" method="post" enctype="multipart/form-data">
  <div class="row justify-content-center">
    <h2 class="text-center my-3">Company Information</h2>

    <div class="form-group col-6">
        <label for="">Company name</label>
        <input asp-for="NameCompany" class="form-control">
    </div>

    <div class="form-group col-6">
        <label asp-for="LogoCompany">Company Logo</label>
        <input type="file" name="file" class="form-control">
    </div>
  </div>

  <div class="row justify-content-center">
    <h2 class="text-center my-3">Offer information</h2>

    <div class="form-group col-6">
        <label for="">Offer title</label>
        <input asp-for="OfferTitle" class="form-control">
    </div>

    <div class="form-group col-6">
        <label asp-for="LogoCompany">Country</label>
        <input asp-for="Country" class="form-control">
    </div>

    <div class="form-group col-6">
        <label for="">Salary</label>
        <input asp-for="Salary" class="form-control">
    </div>

    <div class="form-group col-6">
        <label for="">Open places</label>
        <input asp-for="Positions" class="form-control">
    </div>

    <div class="form-group col-6">
        <label for="">Languages</label>
        <input asp-for="Languages" class="form-control">
    </div>

    <div class="form-group col-6">
        <label for="">Offer status</label>
        <select asp-for="Status" id="" class="form-select form-control">
          <option value="active">Active</option>
          <option value="unused">Unused</option>
          <option value="closed">Closed</option>
        </select>
    </div>

    <div class="form-group col-10">
        <label asp-for="LogoCompany">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here" style="height: 180px;"></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-lg my-4">Create new job offer</button>
  </div>
</form>