@* You cannot obviate model reference *@
@model Sector

<h1>Create sector</h1>
<form asp-action="Create" method="post">

  <div class="mb-3">
    <div class="form-group">
        <label for="">Name:</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Description:</label>
        <input asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Author:</label>
        <input asp-for="Author" class="form-control">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>